<div id="container">
  <h1>~ Welcome to the Castle Black! ~</h1>
  <h4>Greetings from our 998th Lord Commander Jon Snow</h4>

  <h3>~ Our Home ~</h3>
  <img id="castle" src="assets/castleblack.jpg"/>

  <h3>~ Our Team ~</h3>
  <ul>
    <li>Lord Commander: Jon Snow</li>
    <li>Maester: Aemon Targaryen</li>
    <li>First Ranger: Benjen Stark</li>
    <li>First Steward: Bowen Marsh</li>
    <li>Master-at-arms: Ser Alliser Thorne</li>
    <li>First Builder: Othell Yarwyck</li>
  </ul>

  <h3>~ Our Mission Statement ~</h3>
  Night gathers, and now my watch begins. It shall not end until my death.
  I shall take no wife, hold no lands, father no children. I shall wear no crowns and win no glory.
  I shall live and die at my post. I am the sword in the darkness. I am the watcher on the walls.
  I am the shield that guards the realms of men. I pledge my life and honor to the Night's Watch,
  for this night and all the nights to come.
</div>
